In [96]:
import pandas as pd

csv_url = "https://raw.githubusercontent.com/iabufarha/iSarcasmEval/main/train/train.En.csv"

df = pd.read_csv(csv_url)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           3468 non-null   int64
 1   tweet                3467 non-null   object
 2   sarcastic            3468 non-null   int64
 3   rephrase             867 non-null    object
 4   sarcasm              867 non-null    float64
 5   irony                867 non-null    float64
 6   satire               867 non-null    float64
 7   understatement       867 non-null    float64
 8   overstatement        867 non-null    float64
 9   rhetorical_question  867 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 271.1+ KB

In [99]:
df = df.drop(columns=["Unnamed: 0", "rephrase", "sarcasm", "irony", "satire", "understatement", "overstatement", "rhetorical_question"])

                                                  tweet  sarcastic
0     The only thing I got from college is a caffein...          1
1     I love it when professors draw a big question ...          1
2     Remember the hundred emails from companies whe...          1
3     Today my pop-pop told me I was not “forced” to...          1
4     @VolphanCarol @littlewhitty @mysticalmanatee I...          1
...                                                 ...        ...
3463  The population spike in Chicago in 9 months is...          0
3464  You'd think in the second to last English clas...          0
3465  I’m finally surfacing after a holiday to Scotl...          0
3466  Couldn't be prouder today. Well done to every ...          0
3467  Overheard as my 13 year old games with a frien...          0

[3468 rows x 2 columns]

In [104]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3467 entries, 0 to 3467
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      3467 non-null   object
 1   sarcastic  3467 non-null   int64
dtypes: int64(1), object(1)
memory usage: 81.3+ KB

In [108]:
df.to_csv("../AI-CPS/data/joint_data_collection.csv", index=False)

In [110]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

train_df.to_csv('../AI-CPS/data/training_data.csv', index=False)
test_df.to_csv('../AI-CPS/data/test_data.csv', index=False)

In [114]:
df_activation = df[-1:]
df_activation.to_csv('../AI-CPS/data/activation_data.csv', index=False)